doctype html
html
  head
    include ./_head.pug
  body
    .loader
      .preloader-wrapper.big.active
        .spinner-layer.spinner-blue-only
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle
    block content

  footer 
  include ./_scripts.pug
