// build:js js/main.min.js async
script(type='text/javascript', src='js/jquery.js')
script(type='text/javascript', async, src='js/materialize.js')
script(type='text/javascript', async, src='js/index.js')
// endbuild
