extends _layout
block content
  .card.tt-header
    .tt-header__logo-wrap
      img.tt-header__logo(src='images/logo.png')
    .tt-header__tabs-wrap
      .container
        ul.tabs.tt-header__tabs.row
          li.tab.tt-header__tab
            a.tt-header__tabs-link.white-text(href='#day1') 20 апреля
          li.tab.tt-header__tab
            a.tt-header__tabs-link.white-text(href='#day2') 21 апреля
          li.tab.tt-header__tab
            a.tt-header__tabs-link.white-text(href='#day3') 22 апреля
  
  .container
    #day1.day
      .tt-list
        a.tt-list__item.row(href="event.html")
          h5.flow-text.col.s12.tt-list__item-heading
            | Что такое Лимуд и как  нем не потеряться
          p.tt-list__item-info.tt-list__item-time.grey-text
            i.tiny.material-icons.tt-list__item-icon
              | access_time
            | 20:00 - 21:00
          p.tt-list__item-info.tt-list__item-location.grey-text
            i.tiny.material-icons.tt-list__item-icon
              | location_on
            | Зал Хайфа
            
        a.tt-list__item.row(href="event.html")
          h5.flow-text.col.s12.tt-list__item-heading
            | Что такое Лимуд и как  нем не потеряться
          p.tt-list__item-info.tt-list__item-time.grey-text
            i.tiny.material-icons.tt-list__item-icon
              | access_time
            | 20:00 - 21:00
          p.tt-list__item-info.tt-list__item-location.grey-text
            i.tiny.material-icons.tt-list__item-icon
              | location_on
            | Зал Хайфа
            
        a.tt-list__item.row(href="event.html")
          h5.flow-text.col.s12.tt-list__item-heading
            | Что такое Лимуд и как  нем не потеряться
          p.tt-list__item-info.tt-list__item-time.grey-text
            i.tiny.material-icons.tt-list__item-icon
              | access_time
            | 20:00 - 21:00
          p.tt-list__item-info.tt-list__item-location.grey-text
            i.tiny.material-icons.tt-list__item-icon
              | location_on
            | Зал Хайфа
            
        a.tt-list__item.row(href="event.html")
          h5.flow-text.col.s12.tt-list__item-heading
            | Что такое Лимуд и как  нем не потеряться
          p.tt-list__item-info.tt-list__item-time.grey-text
            i.tiny.material-icons.tt-list__item-icon
              | access_time
            | 20:00 - 21:00
          p.tt-list__item-info.tt-list__item-location.grey-text
            i.tiny.material-icons.tt-list__item-icon
              | location_on
            | Зал Хайфа
        
    
    #day2.day 21 апреля
    
    
    #day3.day 22 апреля
    
    
        
